<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EON NEXT REST API TEST SUITE">
	<listeners>
		<listener class-name="runner.NGListener" />
	</listeners>

	<test thread-count="1" name="API Testing">
		<classes>
			<class name="runner.CucumberRunnerTest">
			</class>
		</classes>
	</test>
</suite>